.custom-shape-divider-top-1709034146 {
  
    position:static ;
    
    bottom: 0;
   
    left: 0;
    width: 100%;
    height: 500%; 
    overflow: hidden;
    line-height: 0;
    z-index:0;
    
    background-color: #1E3048;
    
}

.custom-shape-divider-top-1709034146 svg {
   
    
    position: relative;
    bottom: 0;
    display: block;
    width: calc(100% + 1.3px);
    height: 100%;
}

.custom-shape-divider-top-1709034146 .shape-fill {
    
    fill: #ffffff;
}


.footer-content {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .footer-links {
    padding: 2%;
    display: flex;
    list-style: none;
    
  }
  
  .footer-links li {
   
    margin-bottom: 10%;
    position: flex-end;
    margin-right: 10%;
  }
  
  .social-icons {
    
    display: flex;
    height: auto;
    max-width: 100px;
    margin-left: auto;
     
  }
  
  
  .social-icons a {
    margin-right: 10px;
    color: #ffffff;
   
  }
  
.aa{
color: #ffffff;
}

  .footer-bottom-left {
    position: static;
    background-color: #1E3048;
    bottom: 0;
    left: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
  }
  
  .footer-bottom-left img {
    max-width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 25%; /* Add some spacing between logo and text */
    cursor: pointer;
    border-radius: 20%;
  }
  
  .footer-bottom-left p {
    margin: 3%;
    width: 30%; 
    height: 30%;
    color: #ffffff; /* Set text color to white */
  }
  
  .test{
    color: #ffffff;
    margin-left: 1%;
  }